services:
  - type: web
    name: diary-django
    env: python
    plan: free
    buildCommand: |
      pip install -r requirements.txt
      python manage.py collectstatic --noinput
    startCommand: ./start.sh
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "False"
      - key: DATABASE_URL
        fromDatabase:
          name: diary-db
          property: connectionString
      - key: CLOUDINARY_URL
        sync: false
      # - key: ALLOWED_HOSTS_EXTRA
      #   value: "your.com,www.your.com"
      # - key: CSRF_TRUSTED_ORIGINS_EXTRA
      #   value: "https://your.com,https://www.your.com"
    autoDeploy: true
    healthCheckPath: /healthz

databases:
  - name: diary-db
    plan: free
    postgresMajorVersion: 15
    ipAllowList: []
